/* TAGS com especificaçãoes, informão qual a configuração que todas as TAGS do HTML serão configuradas */

header {
    background: black;
    padding: 20px 0px;
}

body {
    background: whitesmoke;
    font-family: 'Manjari', sans-serif;
}

.involucro {
    width: 940px;
    position: relative; /* Elemento pode se mover de forma relativa ao ponto inicial, para os lados, cima e baixo do ponto inicial*/
    margin: 0 auto;
}

.involucro nav {
    position: absolute;
    top: 110px;
    right: 20px;
}

.involucro li {
    display: inline;
    margin: 0 0 0 15px;
}

.involucro a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.involucro a:hover {
    color: darkgray;
    text-decoration: overline;
}

/* TRALHA(HASTAG) com especificaçãoes, se vinculam com a os "id's" do HTML e informam que somente aquele ID terá determinada configuração */
.banner {
    width: 100%;
}

.sobre {
    padding: 2em;
    clear: left;
    width: 940px;
    margin: 0 auto;
}

.sobre p {
    margin: 0 0 1em;
    font-size: 17.4px;
    
}

.sobre em {
    color: red;
    font-style: italic; 
    font-weight: bold;
}

.poste {
   width: 63px;
   float: left;
   padding: 0 20px;
}

.titulo {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    font-weight: bold;
}

/* "." PONTO com especificaçãoes, se vinculam com a as "class" do HTML e informam que todos marcados terão determinada configuração */
.itens {
    line-height: 1.5;
}

.itens a {
    color: black;
    text-decoration: underline;
}

.itens:last-child {
    font-weight: bold;
}

.mapa {
    padding: 0 0 3em;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 20px;
    background: linear-gradient(whitesmoke, darkgray);
    margin: 0 auto;
}

.titulo-beneficios {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    font-weight: bold;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios { 
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imagem-beneficios {
    width: 50%;
    box-shadow: 10px 10px 10px rgb(112, 110, 110);
}

.video {
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
}

footer p {
    padding: 20px;
    color: white;
}

footer em {
    font-style: italic;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    
}