/* ANOTAÇÕES DAS CONFIGURAÇÕES
- padding(preenchimento): espaços ao redor de um elemento (cima/baixo/esquerda/direita),
... onde o primeiro numero é cima/baixo e o segundo é esquerda/direita;
- widht(largura): Largura total de um objeto;
- margin: Margens laterais de um objeto;
- display: informa o tipo de espaçamento que o Elemento tem, ex.: se ocupa uma linha completa, o proprio tamanho;
- text-decoration: remove todas as configs de texto padrão do HTML
- border: informando apenas uma medida, é aplicado em todas as bordas, informando 4 medidas, altera cada ponta de uma forma diferente
- hover: Quando passar o mouse por cima, acontece uma ação
- active: Quando clicar com o mouse, acontece uma ação
*/

header {
    background: black;
    padding: 20px 0;
}

.involucro {
    width: 940px;
    position: relative; /* Elemento pode se mover de forma relativa ao ponto inicial, para os lados, cima e baixo do ponto inicial*/
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: darkgray;
    text-decoration: overline;
}

main {
    background: rgb(195, 195, 195);
}

.products {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.products li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin:  0 1.5%;
    padding: 30px 20px; 
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 0px 30px 0px 30px;
    background: white;
}

.products li:hover {
    border-color: darkorange;
}

.products li:active {
    border-color: firebrick;
}

.products li:hover h2 {
    font-size: 34px;
}

.products h2 {
    font-size: 30px;    
    font-weight: bold;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.product-description {
    font-size: 18px;
}

footer {
    text-align: center;
    background: url("bg2.jpg");
}

footer p {
    padding: 20px;
}

footer em {
    font-style: italic;
    font-weight: bold;
}