/* v---------------- Barra de Navegação ----------------v */

header {
    width: 1440px;
    height: 80px;
}

.barra-nav {
    margin: 18px 80px;
    padding: 0 32px;
}

.logo {
    display: inline-block;
    position: absolute;
    margin-top: 4px;
}

.logo h1 {
    position: absolute;
    display: inline-block;
    left: 35px;
    top: 6px;
    font-family: 'Inter', sans-serif;
    color: #667085;
    font-weight: bold;
}

.menu {
    margin: 10px 0 26.5px 299px;
    position: absolute;
}

.menu li {
    display: inline-block;
    margin: 0 0 0 20px;
    font-family: 'Inter', sans-serif;
}

.menu a {
    text-decoration: none;
    color: #667085;
}

.entrada {
    position: absolute;
    margin: 0 0 0 1041px;
}

.entrada li {
    display: inline-block;
    margin: 0 0 0 0px;
    font-family: 'Inter', sans-serif;
}


.entrada a {
    text-decoration: none;
}

.entrar {
    color: #667085;
}

.cadastrar {
    display: inline-block;
    right: 50%;
    padding: 10px 18px;
    background: #8E2424;
    box-sizing: border-box;
    border: 1px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-left: 30px;
}

.cadastrar:hover {
    transform: scale(1.1);
    transition: 1s all;
}

/* v---------------- Cabeçário ----------------v */

.cabecario {
    width: 1440px;
    height: 250px;
    padding-top: 152px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.cabecario h1 {
    font-size: 16px;
    color: #8E2424;
    font-weight: bold;
}

.cabecario h2 {
    font-size: 48px;
    padding-top: 24px;
    font-weight: bold;
    color: #101828;
}

.cabecario p {
    font-size: 20px;
    width: 792px;
    height: 83px;
    padding: 36px 324px 0;
    color: #667085;
}

/* v---------------- Métricas ----------------v */

main {
    width: 1440px;
    height: 80px;
    margin-top: 350px;
}

.metricas {
    width: 1440px;
    height: 288px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.metricas div {
    display: inline-block;
    width: 20%;
    padding-left: 32px;
    text-align: left;
    vertical-align: text-top;
}

.metricas h1 {
    font-size: 60px;
    color: #8E2424;
    font-weight: bold;
    margin-bottom: 20px;
}

.metricas h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.metricas p {
    color: #667085;
    line-height: 22px;
}

/* v---------------- Talentos ----------------v */

.vagas {
    width: 1440px;
    height: 1798px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.talentos{
    width: 1280px;
    height: 602px;
    margin: 0 auto;
    text-align: center;
}

.talentos h1 {
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 16px;
    background: rgb(216, 216, 216);
    display: inline;
    color: #8E2424;
    font-size: 14px;
}

.talentos h2 {
    font-size: 36px;
    font-weight: bold;
    padding: 25px 0;
}

.talentos p {
    padding-bottom: 64px;
    color: #667085;
}

/* v---------------- Vagas ----------------v */

.areas {
    width: 768px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.cargos h1 {
    font-size: 20px;
    padding-top: 50px;
}

.cargos h1, .cargos h2 {
    font-weight: bold;
}

.cargos p {
    display: inline-block;
    padding: 24px 20px 0 0;
    color: #667085;
}

.cargos div {
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgb(175, 175, 175);
    margin: 24px 0;
    padding: 24px 24px 28px;
}