header {
    width: 1440px;
    height: 80px;
}

.barra-nav {
    margin: 18px 80px;
    padding: 0 32px;
}

.logo {
    display: inline-block;
    position: absolute;
    margin-top: 4px;
}

h1 {
    position: absolute;
    display: inline-block;
    left: 35px;
    top: 6px;
    font-family: 'Inter', sans-serif;
    color: #667085;
    font-weight: bold;
}

.menu {
    margin: 10px 0 26.5px 299px;
    position: absolute;
}

.menu li {
    display: inline-block;
    margin: 0 0 0 20px;
    font-family: 'Inter', sans-serif;
}

.menu a {
    text-decoration: none;
    color: #667085;
}

.entrada {
    position: absolute;
    margin: 0 0 0 1041px;
}

.entrada li {
    display: inline-block;
    margin: 0 0 0 0px;
    font-family: 'Inter', sans-serif;
}


.entrada a {
    text-decoration: none;
}

.entrar {
    color: #667085;
}

.cadastrar {
    display: inline-block;
    right: 50%;
    padding: 10px 18px;
    background: #8E2424;
    box-sizing: border-box;
    border: 1px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-left: 30px;
}

.cadastrar:hover {
    transform: scale(1.1);
    transition: 1s all;
}

/* -------------------------------------------------- */

.cabecario {
    width: 1440px;
    height: 407px;
    padding-top: 152px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 16px;
    color: #8E2424;
    font-weight: bold;
}

h3 {
    font-size: 48px;
    padding-top: 24px;
    font-weight: bold;
    color: #101828;
}

.cabecario p {
    font-size: 20px;
    width: 792px;
    height: 83px;
    padding: 36px 324px 0;
    color: #667085;
}