header {
    width: 1440px;
    height: 80px;
    position: relative;
}

section {
    margin: 18px 80px;
    padding: 0 32px;
}

.logo {
    display: inline-block;
    position: absolute;
}

h1 {
    position: absolute;
    display: inline-block;
    left: 35px;
    top: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #667085;
    font-weight: bold;
}

.menu {
    margin: 6px 0 26.5px 299px;
    position: absolute;
}

.menu li {
    display: inline-block;
    margin: 0 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu a {
    text-decoration: none;
    color: #667085;
}

.entrada {
    position: absolute;
    margin: 0 0 0 1041px;
}

.entrada li {
    display: inline-block;
    margin: 0 0 0 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.entrada a {
    text-decoration: none;
}

.entrar {
    color: #667085;
}

.cadastrar {
    display: inline-block;
    right: 50%;
    padding: 10px 18px;
    background: #8E2424;
    box-sizing: border-box;
    border: 1px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-left: 30px;
}

.cadastrar:hover {
    transform: scale(1.1);
    transition: 1s all;
}